#footer{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    background: #A7F3D0;
}

#footer h1{
    font-weight: 400;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
    color: #4A148C ;
}
