/* quemsomos */
.quemsomos-content   {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
}

.quemsomos-img {
    flex: 1;
}

.quemsomos-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.quemsomos-txt {
    flex: 1;
}

.quemsomos-txt h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.quemsomos-txt p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}
/* End quemsomos */



